/* content.css */
.js-roast-button.btn-primary {
  display: inline-flex !important;
  align-items: center !important;
  margin-right: 8px !important;
  font-size: 12px !important;
  line-height: 20px !important;
  padding: 3px 12px !important;
  font-weight: 500 !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  border: 1px solid rgba(27, 31, 36, 0.15) !important;
  border-radius: 6px !important;
  background-color: #DB2F11 !important;
  color: #ffffff !important;
  transiton: background 0.2s ease-out !important;
}

.js-roast-button.btn-primary:hover {
  background-color: #DB2F1195 !important;
  text-decoration: none !important;
  transition-duration: 0.1s !important;
}

.js-roast-button.btn-primary:active {
  background-color: #298e46 !important;
  box-shadow: inset 0 1px 0 rgba(20,70,32,0.2) !important;
}

/* Ensure proper alignment with other buttons */
.diffbar-item {
  display: flex !important;
  align-items: center !important;
}
